.dashboard{
    /* background-color:  rgb(21, 23, 28); */
    background-color: white ;
    /* background-color: #dbd6c9; */
    height: 100vh;
    width: 100%;
}


.nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: salmon;
    padding: 0 2vw;
    background-color: whitesmoke;
    z-index: 99;
}


.menu{
    height: 5vh;
    width: 5vh;
    display: flex;
    align-items: center;
    /* transition: 0.5s; */
}
.nav .menu svg{
    height: 70%;
}

.nav .menu:hover{
    border-radius: 50%;
    background-color: black;
    fill: white;
}

.main{
    display: flex;
    height: 75vh;
    width: 100%;
}
.dashboard .first{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.dashboard .sec1{
    height: 40vh;
    width: 100%;
    display: flex;
    /* background-color: salmon; */
    justify-content: space-around;
    margin-top: 3vh;
}

.dashboard .sec1 .sec1_1{
    width: 45%;
    height: 100%;
    /* background-color: powderblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    /* display: flex;
    flex-direction: column; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: rgb(21, 23, 28);
    border-radius: 20px;
}

.dashboard .sec1 .sec1_1 .rating{
    height: 50%;
    width: 50%;
}

.dashboard .sec1 .sec1_1 .rating .cur_rating{
    height: 15vh;
    position: relative;
    width: 15vh;
    top: 10%;
    transition: 1s;
    background-color: salmon;
    border-radius: 50%;
    &:hover{
        transform: scale(1.2);
    }
}

.dashboard .sec1 .sec1_1 .badges{
    height: 20%;
    width: 90%;
    /* background-color: azure; */
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    /* scroll-behavior: smooth; */
    scrollbar-width: 0;
    border: 1px solid white;
    border-radius: 10px;
    /* background-color: rgb(88, 78, 78); */
}

.dashboard .sec1 .sec1_1 .badges img{
    height: 4vw;
    width: 4vw;
    /* border: 1px solid black; */
    margin-left: 2vw;
    border-radius: 50%;

    transition: 0.8s;
    &:hover{
        transform: scale(1.2);
    }
}

.dashboard .sec1 .sec1_1 h2{
    font-size: 0.8rem;
    font-family: cursive;
    color: white;
}


.dashboard .sec1 .sec1_2{
    /* height: 100%; */
    width: 45%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
    background-color: rgb(21, 23, 28);
    padding: 1vh;
    padding: 1vh;
}

.dashboard .sec1 .sec1_2 .jump{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .sec1 .sec1_2 .jump button{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    border: 2px solid salmon;
    transition: 0.5s;
    background-color: salmon;
    &:hover{
        background-color: transparent;
    }
    color: white;
}

.dashboard .sec1 .sec1_2 .bmi{
    width: 100%;
    height: 40%;
    /* border: 1px solid white;    */
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    color: white;
}

.dashboard .sec1 .sec1_2 .bmi img{
    height: 12vh;
    /* width: ; */
}

.dashboard .sec1 .sec1_2 .bmi .cur_bmi{
    border: 1px solid white;
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .sec2{
    height: 40%;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .sec2 .undecided{
    height: 100%;
    width: 95%;
    border-radius: 20px;
    background-color: rgb(21, 23, 28);
}

.main .second{
    height: 95%;
    width: 40%;
}

.main .second .sec1_3{
    height: 100%;
    width: 90%;
    /* background-color: orange; */
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: rgb(21, 23, 28);
    color: white;
}

.main .second .sec1_3 h2{
    padding: 2vh;
    border-bottom: 1px solid white;
}

.dashboard .second .sec1_3 .cont_list{
    border: 1px solid white;
    margin: 1vw;
    height: 80%;
    border-radius: 20px;
    /* color: white; */
    overflow-y: scroll;
}



