.dashboard {
  /* background-color:  rgb(21, 23, 28); */
  /* background-color: #eedddd; */
  /* background-color: #374070; */
  
  /* background: #f14b72; */
  /* background: linear-gradient(
    315.61deg,
    rgba(115, 203, 215, 0.6) -0.33%,
    rgba(185, 62, 236, 0.387286) 54.52%,
    rgba(115, 212, 215, 0.3) 89.54%
  ),
  #b93eec; */
  background: rgb(127,34,180);
background: linear-gradient(163deg, rgba(127,34,180,1) 0%, rgba(21,46,89,0.9893207282913166) 49%, rgba(25,2,30,0.9893207282913166) 98%);
  height: 100vh;
  width: 100%;
}

.nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  background: transparent;
  z-index: 99;
  border-bottom: 1px solid black;
}

.dashboard .logo{
  font-family: cursive;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
}

.menu {
  height: 5vh;
  width: 5vh;
  display: flex;
  align-items: center;
  /* transition: 0.5s; */
  fill: white;
}
.nav .menu svg {
  height: 70%;
}

.nav .menu:hover {
  border-radius: 50%;
  background-color: black;
  fill: white;
}

.name{
  margin: 3vh;
  color: #fff;
  text-align: center;
  
}
.name h1{
  font-family: monospace;
  font-weight: 200;
  color: white;
}

.main {
  display: flex;
  height: 75vh;
  width: 100%;
}
.dashboard .first {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.dashboard .sec1 {
  height: 40vh;
  width: 100%;
  display: flex;
  /* background-color: salmon; */
  justify-content: space-around;
  margin-top: 3vh;
}

.dashboard .sec1 .sec1_1 {
  width: 45%;
  height: 100%;
  /* background-color: powderblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid #04d9ff; */
  /* display: flex;
    flex-direction: column; */
  /* box-shadow: #04d9ff 0px 0px 10px 2px; */
  background-color: rgb(21, 23, 28);
  border-radius: 20px;
}

.dashboard .sec1 .sec1_1 .rating {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.dashboard .sec1 .sec1_1 .rating h5{
  font-weight: 200;
  font-size: 0.78rem;
  margin-top: 2vh;
}

.dashboard .sec1 .sec1_1 .rating img{
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  transition: 1s;
  &:hover{
    transform: scale(1.2);
  }
}
.dashboard .sec1 .sec1_1 .rating .cur_rating {
  height: 12vh;
  position: relative;
  width: 12vh;
  top: 10%;
  transition: 1s;
  background-color: #f14b72;
  border-radius: 50%;
  &:hover {
    transform: scale(1.2);
  }
}

.dashboard .sec1 .sec1_1 .badges {
  height: 30%;
  width: 90%;
  /* background-color: azure; */
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  /* scroll-behavior: smooth; */
  scrollbar-width: 0;
  /* border: 1px solid white; */
  border-radius: 10px;
  /* background-color: rgb(88, 78, 78); */
}

.dashboard .sec1 .sec1_1 .badges img {
  height: 4vw;
  width: 4vw;
  /* border: 1px solid black; */
  margin-left: 2vw;
  border-radius: 50%;

  transition: 0.8s;
  &:hover {
    transform: scale(1.2);
  }
}

.dashboard .sec1 .sec1_1 h2 {
  font-size: 0.8rem;
  font-family: cursive;
  color: white;
}

.dashboard .sec1 .sec1_2 {
  /* height: 100%; */
  width: 45%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 20px;
  background-color: rgb(21, 23, 28);
  color: white;
}

.dashboard .sec1 .sec1_2 h5{
  font-size: 0.8rem;
  opacity: 0.8;
}

.dashboard .sec1 .sec1_2 .row1{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
}

.dashboard .sec1 .sec1_2 .row1 .box1{
  height: 80%;
  width: 30%;
  background-color: rgb(32, 35, 43);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .sec1 .sec1_2 .row1 .box2{
  height: 80%;
  width: 30%;
  background-color: rgb(32, 35, 43);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .sec1 .sec1_2 .row2{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.dashboard .sec1 .sec1_2 .row2 .box3{
  height: 80%;
  width: 30%;
  border-radius: 20px;
  background-color: rgb(32, 35, 43);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .sec1 .sec1_2 .row2 .box4{
  height: 80%;
  width: 30%;
  background-color: rgb(32, 35, 43);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main .sec2 {
  height: 40%;
  width: 100%;
  /* background-color: aqua; */
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .sec2 .undecided {
  height: 100%;
  width: 95%;
  border-radius: 20px;
  background-color: rgb(21, 23, 28);
  /* display: flex; */
  display: flex;
  flex-direction: column;
}

.main .second {
  height: 95%;
  width: 40%;
}

.main .second .sec1_3 {
  height: 100%;
  width: 90%;
  /* background-color: orange; */
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: rgb(21, 23, 28);
  color: white;
  margin-top: 3vh;
}

.main .second .sec1_3 h2 {
  padding: 2vh;
  border-bottom: 1px solid white;
}

.dashboard .second .sec1_3 .cont_list {
  /* border: 1px solid white; */
  margin: 1vw;
  height: 80%;
  border-radius: 20px;
  overflow-y: scroll;
}

.main .sec2 .undecided .roww{
  height: fit-content;
  width: 100%;
  display: flex;
  /* margin: 4vh; */
  margin-left: 3vh;
  margin-bottom: 2vh;
}

.streak1{
  height: 3vh;
  width: 3vh;
  background-color: white;
  margin: 2px;
  background-color: rgb(32, 35, 43);
  border-radius: 1%;
}

.topmargin{
  margin-top: 2vh;
}