/* FitnessLogin.css */

.fitness-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('../Style_components/'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* perspective: 1000px; */
}

.fitness-login-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  text-align: center;
  width: 300px;
  transform: rotateX(20deg); /* 3D rotation */
  transform-origin: center bottom;
  animation: rotate-up 0.5s ease 0.3s forwards;

  @keyframes rotate-up {
    from {
      opacity: 0;
      transform: rotateX(90deg);
    }
    to {
      opacity: 1;
      transform: rotateX(20deg);
    }
  }
}

.fitness-login-heading {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.fitness-form-group {
  margin-bottom: 15px;
}

.fitness-input-field {
  padding: 10px;
  border: 2px solid #00a5e1; /* Vibrant blue border */
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.fitness-input-field:focus {
  border-color: #ff5722; /* Orange border color on focus */
}

.fitness-login-button {
  background-color: #ff5722; /* A bold orange color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fitness-login-button:hover {
  background-color: #ff6d42; /* Lighter shade of orange on hover */
}
