@font-face {
  font-family: header;
  src: url(./Style_components/text/header2.woff2);
}

*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.side_menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  /* opacity: 85%; */
  display: flex;
  justify-content: flex-end;
  /* display: none; */
  transition: 1s;
  z-index: 100;
}

.ram {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 85%;
}
.side_menu.hide {
  display: none;
}

.options {
  height: 100vh;
  width: 90vw;
  position: relative;
  left: 100%;
  background-color: #dbd6c9;
  background: rgb(127,34,180);
  background: linear-gradient(163deg, rgba(127,34,180,1) 0%, rgba(21,46,89,0.9893207282913166) 49%, rgba(25,2,30,0.9893207282913166) 98%);  
  border-radius: 40px 0 0 40px;
  margin-top: 1vh;
  display: flex;
  /* justify-content: flex-start; */
  overflow: hidden;
  /* transition: 1s; */
}

.options .section1 {
  height: 100%;
  width: 65%;
  border-radius: 40px 0 0 40px;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 15vh;
  fill: rgb(200, 211, 237);
}

.cross {
  position: relative;
  left: -10%;
  margin-bottom: 5vh;
  margin-top: 5vh;
  width: fit-content;
  height: fit-content;
}

.cross:hover {
  fill: white;
}

.section1 ul {
  text-decoration: none;
  list-style-type: circle;
  text-align: start;
  font-size: 8vw;
  line-height: 15vw;
  font-family: header;
  font-weight: 999;
  opacity: 85;
  margin: 0;

}

.section1 ul li {
  width: fit-content;
  transition: 0.3s;
  position: relative;
  color: rgb(223, 218, 241);
}

.section1 ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.section1 ul li:hover:after {
  transform: scaleX(0.5);
  transform-origin: bottom left;
}

.section1 ul li:hover {
  /* color: salmon; */
  color: rgb(209, 199, 243);
  cursor: pointer;
}

.active {
  /* color: salmon; */
  color: white;
  opacity: 80%;
}

.section2 {
  background-color: black;
  height: 100%;
  width: 35%;
  border-radius: 40px 0 0 40px;
  display: flex;
  flex-direction: column;
  padding: 2vh;
  padding-top: 10vh;
}

.section2 .reach {
  width: 100%;
  height: fit-content;
  background-color: rgb(42, 40, 40);
  border-radius: 10px;
  text-align: start;
  padding-bottom: 2vh;
}

.reach h5 {
  margin-left: 5%;
  margin-top: 5%;
  padding: 0;
  /* background-color: aqua; */
  opacity: 70%;
  font-family: monospace;
  color: white;
}

.reach .button {
  margin-top: 4vh;
  display: flex;
  justify-content: space-evenly;
}

.reach .button button {
  width: 30%;
  height: 5vh;
  border-radius: 10px;
  border: none;
  transition: 1s;
  background-color: rgb(209, 199, 243);
}

.reach .button button:hover {
  background-color: white;
  letter-spacing: 5px;
  height: 5.3vh;
  width: 35%;
}

.goal {
  margin-top: 5vh;
  width: 100%;
  height: fit-content;
  background-color: rgb(42, 40, 40);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1vw;
}
.goal .progress {
  display: flex;
  justify-content: space-around;
}

.goal .label {
  display: flex;
  justify-content: space-around;
  /* margin-left: 1vw; */
  color: wheat;
  font-size: 0.8rem;
  font-family: monospace;
}

.goal .label h4:nth-child(1) {
  margin-left: 1vw;
}

.goal .label h4:nth-child(2) {
  margin-left: 1vw;
}

.goal .cur_level {
  height: 10vh;
  /* border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white; */
}

.goal .cur_per {
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  border: 1px solid white;
}

.songs {
  display: flex;
  height: fit-content;
  width: 100%;
  background-color: rgb(42, 40, 40);
  margin-top: 5vh;
  border-radius: 10px;
}

.topsongs {
  height: 18 vh;
  width: 50%;
  background-color: rgb(24, 22, 22);
  border-radius: 2%;
  margin: 2vw;
}

.streak {
  height: 18vh;
  width: 50%;
  background-color: rgb(24, 22, 22);
  border-radius: 2%;
  margin: 2vw;
}

.section2 .start {
  margin-top: 7vh;
  height: 4vh;
  border: none;
  background-color: whitesmoke;
  border-radius: 20px;
  transition: 1s;
}

.section2 .start:hover {
  background-color: salmon;
}
