@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

/* Variable Declarations */
:root {
  --primary-color: #cfd6e1;
  --bg-color: #dce1e5;
  --title-color: #9ac7fa;
  --background-image: url(http://digitalspyuk.cdnds.net/15/47/1600x800/landscape-1447754794-harrison-ford-blade-runner.jpg);
  --background-image2: url("http://www.blastr.com/sites/blastr/files/back-to-the-future-part-ii-original.jpg");
  --background-image3: url("https://static1.squarespace.com/static/51b3dc8ee4b051b96ceb10de/t/58d86b3db3db2b57ce8f2986/1490578241899/?format=2500w");
  --font-stack-content: "Montserrat", helvetica, arial, sans-serif;
  --font-stack-header: "Montserrat", helvetica, arial, sans-serif;
  --secondary-color: salmon;
}

button:focus {
  outline: 0;
}

/* Movie Card Styles */
.movie-card {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 300px;
  display: flex;
  margin: 3vh auto;
  /* margin: 0; */
  border-radius: 8px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

@media screen and (max-width: 800px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .movie-card {
    background-position: 50% 0%;
    background-size: cover;
    height: 400px;
  }
}

/* Movie Card Data Styles */
.movie-card[data-movie="Blade Runner"] {
  background-image: var(--background-image);
}

.movie-card[data-movie="Back to the Future"] {
  background-image: var(--background-image2);
}

.movie-card[data-movie="Akira"] {
  background-image: var(--background-image3);
}

.movie-card__overlay {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    rgba(42, 159, 255, 0.2) 0%,
    rgba(33, 33, 32, 1) 60%,
    rgba(33, 33, 32, 1) 100%
  );
  background-blend-mode: multiply;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  .movie-card__overlay {
    background: linear-gradient(
      to bottom,
      rgba(42, 159, 255, 0.2) 0%,
      rgba(33, 33, 32, 1) 60%,
      rgba(33, 33, 32, 1) 100%
    );
  }
}

.movie-card__share {
  padding: 1em;
  display: inline-block;
  width: 100%;
  max-width: 130px;
}

@media screen and (max-width: 600px) {
  .movie-card__share {
    display: block;
    width: 100%;
  }
}

.movie-card__icon {
  color: #ffffff;
  mix-blend-mode: lighten;
  opacity: 0.4;
  background: none;
  padding: 0;
}

.movie-card__icon:hover {
  opacity: 1;
  mix-blend-mode: lighten;
}

.movie-card__icon:not(:first-of-type) {
  margin-left: 5px;
}

.movie-card__icon i {
  font-size: 1.2em;
}

.movie-card__content {
  width: 100%;
  max-width: 370px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  float: right;
  padding-right: 1.2em;
  padding-bottom: 1em;
}

@media screen and (max-width: 1000px) {
  .movie-card__content {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .movie-card__content {
    margin-top: 4.2em;
    width: 100%;
    float: inherit;
    max-width: 100%;
    padding: 0 1em 1em;
  }
}

.movie-card__header {
  margin-bottom: 2em;
}

.movie-card__title {
  color: #ffffff;
  margin-bottom: 0.25em;
  opacity: 0.75;
}

.movie-card__info {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  color: var(--secondary-color);
  line-height: 1;
  margin: 0;
  font-weight: 700;
  opacity: 0.5;
}

.movie-card__desc {
  font-weight: 300;
  opacity: 0.84;
  margin-bottom: 2em;
}

/* Header Styles */
h1,
h2,
h3 {
  font-family: var(--font-stack-header);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

/* Button Styles */
.btn {
  padding: 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}

.btn-outline {
  background-color: transparent;
  border: 3px solid #ffffff;
  transition: 0.5s;
}

.btn::before {
  font-family: "Material Icons";
  content: "\e037";
  vertical-align: middle;
  font-size: 1.5em;
  padding-right: 0.5em;
}

.btn-outline:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  box-shadow: 0px;
}
